/* ==================================================
   #MEDIAQUERIES
   ================================================== */
$mq--sm: screen and (min-width: 34em);
$mq--md: screen and (min-width: 48em);
$mq--lg: screen and (min-width: 62em);
$mq--xl: screen and (min-width: 75em);

/* ==================================================
   #SIZES
   ================================================== */
$sizes--container-width: 1170px;

/* ==================================================
   #LOST-GRID-SETTINGS
   ================================================== */
@lost gutter 3rem;
