/* ==================================================
   #CENTER-VERTICALLY
   ================================================== */
.u-cv {
  text-align: center;
}
.u-cv-child {
  display: inline-block;
}

/* ==================================================
   #CENTER-HORIZONTALLY
   ================================================== */
.u-ch {
  white-space: nowrap;
}
.u-ch::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
.u-ch-child {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
