<div class="Comment {{comment.comment_type}}" id="comment-{{comment.ID}}">
	<h5 class="Comment-author">{{comment.author.name}} says</h5>
	<div class="Comment-content">{{comment.comment_content|wpautop}}</div>
</div>
